@using Swipe.Utility
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swipe</title>
    <script src="https://kit.fontawesome.com/6850d1a253.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Swipe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.CustomerEndUser))
                        {
                            var userId = (await UserManager.GetUserAsync(User)).Id;

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownSettings">
                                    <a class="dropdown-item"
                                       asp-area="Identity"
                                       asp-page="/Account/Manage/Index">
                                        Manage Account
                                    </a>
                                    <a class="dropdown-item"
                                       asp-area="User"
                                       asp-controller="About"
                                       asp-action="Create">
                                        My About Page
                                    </a>
                                    <a class="dropdown-item"
                                       asp-area="User"
                                       asp-controller="Preferences"
                                       asp-action="Edit"
                                       asp-route-id="@userId">
                                        My Search Preferences
                                    </a>
                                    <a class="dropdown-item"
                                       asp-area="User"
                                       asp-controller="Image"
                                       asp-action="Index"
                                       asp-route-id="@userId">
                                        My Images
                                    </a>
                                </div>
                            </li>
                        }


                        @if (User.IsInRole(SD.AdminEndUser))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Genders" asp-action="Index">Gender</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Ethnicities" asp-action="Index">Ethnicity</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Heights" asp-action="Index">Height</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Swipe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
